%h1 Domains

.well
  = link_to "Add domain", new_domain_path, :class => "btn primary"

- unless @domains.nil?
  .domain
    - @domains.each do |domain|
      .well
        %h3= link_to domain.name, domain_path(domain)
- else
  %p Asante Sana! Squash banana! We we nuga! Mi mi apana!
